workflows/veo3-character-video-generation-loop.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "42ffca6b-6a77-4fa8-90f3-df4627fabde8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        6672,
        464
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8889/restart-chrome",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6944,
        464
      ],
      "id": "714aab85-f8ad-4a06-9573-b009456130b4",
      "name": "ブラウザ再起動"
    },
    {
      "parameters": {
        "jsCode": "// Build prompt for Gemini\nconst row = $input.first().json;\nconst youtubeUrl = row.search_url;\nconst search_keyword = row.search_keyword;\nconst style = row.style;\nconst movie_time = row.movie_time;\nconst row_number = row.row_number; // row_number を取得\n\n\nconst fullPrompt = `# AI動画再現・シーンビルダープロンプト生成システム (Finalized System Prompt)\n\n## 役割と目標 (Role and Goal)\nあなたは、YouTube動画を解析し、生成AI（Midjourney, Runway, Luma, Veo, Kling等）でその世界観を完全に再現するための「プロンプトアーキテクト」です。 1つの「マスターイメージ」を起点とし、全セグメントで共有する「共通ベースプロンプト」を全ての出力プロンプトに直接結合しながら、指定された秒数を1秒も欠かすことなく、シーンを連続的に繋げていく「シーンビルダー方式」でプロンプトを構築します。\n\n## 必須入力項目 (Required Inputs)\n* 参考URL: 解析対象となる映像。\n→${youtubeUrl}\n* キャラクター: 再現する特定の固有名詞（例：不知火舞、春麗、リュウ等）。\n→${search_keyword}\n* 世界観・デザイン: 再現すべきトーン、時代背景、デザイン。\n* 具体例: 「格闘ゲームキャラクターのハリウッド実写映画化、撮影現場の舞台裏（BTS）スタイル。超写実的で、重厚な衣装デザイン、撮影機材やスタッフが映り込むリアリティ。」\n→{$style}\n* 秒数: 生成すべき動画の総再生時間（例：64秒）。※この秒数を満たすまでセグメント生成を停止してはならない。\n→${movie_time}秒\n秒数が記載されていない場合は、元参考動画と同じ秒数で考えること。\n\n## 行動とルール (Actions and Rules)\n### 1. 完遂ロジック (Full Duration Integrity)\n* セグメント計算: 1セグメントを8秒固定とし、総尺 ÷ 8 で算出される全てのセグメントを必ずJSON配列内に出力してください。 （例：64秒指定の場合、必ず8つのセグメントを記述すること）\n\n* ストーリーの完結: 指定された最終秒数に向けて、撮影開始から終了（クランクアップ）までのストーリー構成を均等に割り振ってください。\n\n### 2. プロンプト構築の絶対ルール\n* Master Image Prompt (唯一のベース画像): 動画の始点となる最高密度の静止画プロンプト。\n* Scene Builder Segments (連続動画指示): 画像への言及は不要。ベース画像からの「動作・流動性・カメラワーク」の記述に徹する。\n\n* Base Integration: 生成する image_prompt1 および全ての video_prompt{N} の冒頭には、必ず後述する**「共通ベースプロンプト（Common Base Style）」の全文を物理的に結合**して出力してください。\n\n* Character & Aesthetic: 特定の俳優が演じているかのように固定。日本人好みの「Refined Japanese features（透明感、気品のある造形）」を基本とし、撮影機材（ARRI/RED等）やスタッフが映り込む「BTSスタイル」を徹底します。\n\n* Face Visibility: 全てのショットで「Face visible（顔が映っていること）」を最優先事項として記述に含めてください。\n\n* No Technical Parameters: サイズ指定（--ar等）やバージョン指定、コマンド類は一切含めず、純粋な自然言語のみを出力してください。\n\n### 3. 思考プロセス (Thought Process)\n* Character Consistency: 指定されたキャラクターのアイデンティティ（衣装、髪型、装飾品）を固定。日本人好みの「Refined Japanese features（透明感、気品のある造形）」を基本とし、過剰な筋肉表現を避け、日本的な美学を追求します。\n* BTS Aesthetic: 「映画撮影の現場（Behind The Scenes）」であることを強調。フレーム内にカメラ、スタッフ、照明機材、カチンコを配置し、メタ的なリアリティを付与します。\n* Action Integration: ゲーム固有の必殺技や象徴的ポーズを「現実のスタント」として解釈。ワイヤー、エフェクトライト、スモーク演出をプロンプトに組み込みます。\n\n### 4. 技術仕様 (Technical Specifications)\n技術用語: Orbit shot, Handheld shake, Cinematic lighting, 35mm film texture, Motion blur 等を効果的に使用。\n* 出力形式 (Output Format)\n\n以下のJSON形式のみで出力してください。前後に説明文や挨拶は不要です。\nJSON\n{\n\"project\": {\n\"subject\": \"特定した固有名詞・キャラクター名\",\n\"worldview_design\": \"適用した具体的なデザイン・コンセプト定義\",\n\"totalDuration\": \"〇〇秒\",\n\"loopCount\": \"Nセグメント\"\n},\n\"common_base_style\": {\n\"text\": \"Style: Behind the scenes (BTS) photograph on a live-action movie set, hyper-realistic, photorealistic, 8k resolution, highly detailed skin texture and sweat, cinematic lighting mixed with practical set lights, film grain, slightly desaturated colors. Environment: Busy film set background, professional film cameras, boom microphones, lighting equipment, crew members, cables on the floor, scaffolding.\"\n},\n\"master_image\": {\n\"image_prompt1\": \"[common_base_style.text] + A high-quality film still of [Subject]. [Identity Anchors]. [Japanese Beauty Style]. [Specific Action/Pose/BTS Elements].\"\n},\n\"scene_builder_segments\": [\n{\n\"index\": 1,\n\"timeRange\": \"00:00 - 00:08\",\n\"intent\": \"演出意図（日本語）\",\n\"video_prompt1\": \"[common_base_style.text] + [Detailed Motion: Character action, Camera work, Environmental shift]. 8 seconds.\"\n},\n{\n\"index\": 2,\n\"timeRange\": \"00:08 - 00:16\",\n\"intent\": \"演出意図（日本語）\",\n\"video_prompt2\": \"[common_base_style.text] + [Continuation of Motion: Next action, Camera movement, Interactive elements]. 8 seconds.\"\n}\n]\n}\n\n## 注意事項 (Precautions)\nvideo_prompt{N} にシステム的な指示語（Start from...等）を含めない。\n日本的な「質感（肌・髪・布）」や「光の当たり方」を必ず記述に含める。`;\n\n// 2つ目のプロンプト: 全プラットフォーム用タイトル・概要欄の生成（思考モード）\nconst snsPrompt = `先ほど分析した動画の内容に基づいて、各SNSプラットフォーム用の魅力的なタイトルと概要欄を日本語で作成してください。\n\n## 制約\n元動画と同一の内容にならないように表現を最大限魅力的にズラすこと。\n現代風アレンジしたBGMを聞かせることも目的としています。\nキャラクターやアーティスト名もタイトルに含めること。ただしメインキャラクターのみを含めること。\n\n## 各プラットフォームの要件\n\n### YouTube（通常動画）\n- タイトル: 60文字以内、SEOを意識、興味を引く表現\n- 概要欄: ハッシュタグ含む、1000文字程度。チャプター出力は不要。チャプターは絶対に出力しないこと。\n\n### YouTube Shorts\n- タイトル: 40文字以内、インパクト重視、絵文字OK\n- 概要欄: ハッシュタグ含む、500文字程度\n\n### Twitter/X\n- 投稿文: 140文字以内、ハッシュタグ2-3個含む\n\n### TikTok\n- タイトル: 50文字以内、キャッチー、絵文字推奨\n- 概要欄: ハッシュタグ5-10個、300文字程度\n\n### Instagram\n- タイトル: 最初の1行で注目を引く（30文字以内）\n- 概要欄: ハッシュタグ20-30個、500文字程度、改行多め\n\n## 出力形式\n必ず以下のJSON形式で出力してください:\n\n\\`\\`\\`json\n{\n  \"youtube_title\": \"YouTube通常動画タイトル\",\n  \"youtube_description\": \"YouTube通常動画の概要欄\",\n  \"youtube_title_short\": \"YouTubeショートタイトル\",\n  \"youtube_description_short\": \"YouTubeショート概要欄\",\n  \"twitter_text\": \"Twitter投稿文\",\n  \"tiktok_title\": \"TikTokタイトル\",\n  \"tiktok_description\": \"TikTok概要欄\",\n  \"instagram_title\": \"Instagramタイトル\",\n  \"instagram_description\": \"Instagram概要欄\"\n}\n\\`\\`\\`\n\n重要: 必ずJSON形式のみで出力し、前後に説明文を付けないでください。`;\n\n// row_number を含めて返す\nreturn [{\n  json: {\n    row_number: row_number,\n    search_url: youtubeUrl,\n    prompts: [\n      { index: 1, text: fullPrompt, mode: 'fast' },\n      { index: 2, text: snsPrompt, mode: 'think' }\n    ]\n  }\n}];"
      },
      "id": "dd0ccb58-7baa-4461-964f-2ec14f4bc24a",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7680,
        464
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "e8d4c23c-07fc-47d1-8de0-2639a108acd1",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7904,
        464
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/gemini_input.json",
        "options": {}
      },
      "id": "a2424e54-80d8-430b-b813-1eef0e38bdce",
      "name": "Write Input File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        8112,
        464
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "ROW_NUM=$(sed -n 's/.*\"row_number\"[[:space:]]*:[[:space:]]*\\([0-9]*\\).*/\\1/p' /tmp/gemini_input.json | head -1) && GEMINI_RESULT=$(node /home/node/scripts/gemini-auto.js /tmp/gemini_input.json --file --mode=fast --cdp=http://192.168.65.254:9222) && printf '{\"row_number\":%s,\"gemini_result\":%s}\\n' \"$ROW_NUM\" \"$GEMINI_RESULT\""
      },
      "id": "a17db1f9-e708-46ec-a562-56e96d394a62",
      "name": "Gemini Browser",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        8336,
        464
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini browser response\nconst output = $input.first().json.stdout;\n\nlet wrapper;\ntry {\n  wrapper = JSON.parse(output);\n} catch (e) {\n  throw new Error('Failed to parse wrapper: ' + (output ? output.substring(0, 500) : 'empty output'));\n}\n\nconst rowNumber = wrapper.row_number;\nconst result = wrapper.gemini_result || {};\n\nif (!rowNumber) {\n  throw new Error('row_number is missing');\n}\n\nif (result.error && !result.result_p1) {\n  throw new Error('Gemini error: ' + result.error);\n}\n\nfunction repairJson(str) {\n  if (!str) return str;\n  return str.replace(/,\\s*([}\\]])/g, '$1').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, '');\n}\n\nfunction safeJsonParse(str) {\n  try { return JSON.parse(str); } catch (e) { return JSON.parse(repairJson(str)); }\n}\n\nfunction extractJsonObject(str) {\n  const firstBrace = str.indexOf('{');\n  if (firstBrace === -1) return null;\n  let braceCount = 0, endIndex = -1, inString = false, escape = false;\n  for (let i = firstBrace; i < str.length; i++) {\n    const char = str[i];\n    if (escape) { escape = false; continue; }\n    if (char === '\\\\') { escape = true; continue; }\n    if (char === '\"') { inString = !inString; continue; }\n    if (!inString) {\n      if (char === '{') braceCount++;\n      if (char === '}') braceCount--;\n      if (braceCount === 0) { endIndex = i + 1; break; }\n    }\n  }\n  return endIndex > 0 ? str.substring(firstBrace, endIndex) : null;\n}\n\nfunction cleanGeminiResponse(text) {\n  let jsonStr = text.replace(/^thought\\s*\\n*/i, '').replace(/^JSON\\s*\\n*/i, '');\n  const match = jsonStr.match(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/);\n  if (match) jsonStr = match[1];\n  return extractJsonObject(jsonStr.trim()) || jsonStr.trim();\n}\n\nconst responseText = result.result_p1 || '';\nif (!responseText || responseText.includes('(Error') || responseText.includes('(timeout)')) {\n  throw new Error('Gemini response invalid: ' + (responseText ? responseText.substring(0, 200) : 'empty'));\n}\n\nlet parsed;\ntry {\n  parsed = safeJsonParse(cleanGeminiResponse(responseText));\n} catch (e) {\n  throw new Error('Failed to parse JSON: ' + e.message);\n}\n\nlet snsData = { youtube_title: '', youtube_description: '', youtube_title_short: '', youtube_description_short: '', twitter_text: '', tiktok_title: '', tiktok_description: '', instagram_title: '', instagram_description: '' };\n\nconst responseText2 = result.result_p2 || '';\nif (responseText2 && !responseText2.includes('(Error') && !responseText2.includes('(timeout)')) {\n  try {\n    const parsed2 = safeJsonParse(cleanGeminiResponse(responseText2));\n    Object.assign(snsData, parsed2);\n  } catch (e) {}\n}\n\nconst segments = parsed.scene_builder_segments || [];\nconst outputData = {\n  row_number: rowNumber,\n  project: parsed.project,\n  segmentCount: segments.length,\n  ...snsData\n};\n\nif (parsed.master_image?.image_prompt1) outputData.image_prompt1 = parsed.master_image.image_prompt1;\n\nsegments.forEach((seg, idx) => {\n  const num = seg.index || (idx + 1);\n  if (num <= 24 && seg['video_prompt' + num]) outputData['video_prompt' + num] = seg['video_prompt' + num];\n});\n\nfor (let i = 2; i <= 24; i++) if (!outputData['image_prompt' + i]) outputData['image_prompt' + i] = '';\nfor (let i = 1; i <= 24; i++) if (!outputData['video_prompt' + i]) outputData['video_prompt' + i] = '';\n\nreturn [{ json: outputData }];"
      },
      "id": "7b5ba2fa-aab4-4869-b083-9dcf9f4c4532",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8560,
        464
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM",
          "mode": "list",
          "cachedResultName": "ゲームメイキング映像マスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "status": "Plan",
            "youtube_title": "={{ $json.youtube_title }}",
            "youtube_description": "={{ $json.youtube_description }}",
            "youtube_title_short": "={{ $json.youtube_title_short }}",
            "youtube_description_short": "={{ $json.youtube_description_short }}",
            "twitter_text": "={{ $json.twitter_text }}",
            "tiktok_title": "={{ $json.tiktok_title }}",
            "tiktok_description": "={{ $json.tiktok_description }}",
            "instagram_title": "={{ $json.instagram_title }}",
            "instagram_description": "={{ $json.instagram_description }}",
            "image_prompt1": "={{ $json.image_prompt1 }}",
            "video_prompt1": "={{ $json.video_prompt1 }}",
            "video_prompt2": "={{ $json.video_prompt2 }}",
            "video_prompt3": "={{ $json.video_prompt3 }}",
            "video_prompt4": "={{ $json.video_prompt4 }}",
            "video_prompt5": "={{ $json.video_prompt5 }}",
            "video_prompt6": "={{ $json.video_prompt6 }}",
            "video_prompt7": "={{ $json.video_prompt7 }}",
            "video_prompt8": "={{ $json.video_prompt8 }}",
            "video_prompt9": "={{ $json.video_prompt9 }}",
            "video_prompt10": "={{ $json.video_prompt10 }}",
            "video_prompt11": "={{ $json.video_prompt11 }}",
            "video_prompt12": "={{ $json.video_prompt12 }}",
            "video_prompt13": "={{ $json.video_prompt13 }}",
            "video_prompt14": "={{ $json.video_prompt14 }}",
            "video_prompt15": "={{ $json.video_prompt15 }}",
            "video_prompt16": "={{ $json.video_prompt16 }}",
            "video_prompt17": "={{ $json.video_prompt17 }}",
            "video_prompt18": "={{ $json.video_prompt18 }}",
            "video_prompt19": "={{ $json.video_prompt19 }}",
            "video_prompt20": "={{ $json.video_prompt20 }}",
            "video_prompt21": "={{ $json.video_prompt21 }}",
            "video_prompt22": "={{ $json.video_prompt22 }}",
            "video_prompt23": "={{ $json.video_prompt23 }}",
            "video_prompt24": "={{ $json.video_prompt24 }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_title",
              "displayName": "youtube_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_description",
              "displayName": "youtube_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_title_short",
              "displayName": "youtube_title_short",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_description_short",
              "displayName": "youtube_description_short",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "twitter_text",
              "displayName": "twitter_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tiktok_title",
              "displayName": "tiktok_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tiktok_description",
              "displayName": "tiktok_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_title",
              "displayName": "instagram_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_description",
              "displayName": "instagram_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_prompt1",
              "displayName": "image_prompt1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt1",
              "displayName": "video_prompt1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt2",
              "displayName": "video_prompt2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt3",
              "displayName": "video_prompt3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt4",
              "displayName": "video_prompt4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt5",
              "displayName": "video_prompt5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt6",
              "displayName": "video_prompt6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt7",
              "displayName": "video_prompt7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt8",
              "displayName": "video_prompt8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt9",
              "displayName": "video_prompt9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt10",
              "displayName": "video_prompt10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt11",
              "displayName": "video_prompt11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt12",
              "displayName": "video_prompt12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt13",
              "displayName": "video_prompt13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt14",
              "displayName": "video_prompt14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt15",
              "displayName": "video_prompt15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt16",
              "displayName": "video_prompt16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt17",
              "displayName": "video_prompt17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt18",
              "displayName": "video_prompt18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt19",
              "displayName": "video_prompt19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt20",
              "displayName": "video_prompt20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt21",
              "displayName": "video_prompt21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt22",
              "displayName": "video_prompt22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt23",
              "displayName": "video_prompt23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_prompt24",
              "displayName": "video_prompt24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4f353b21-7c7b-4a6a-864d-930c1ff6d36e",
      "name": "Update Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8784,
        464
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "content": "## プロンプト作成\n",
        "height": 624,
        "width": 2176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6928,
        352
      ],
      "id": "7d0e81ed-affe-4649-996a-68fb3ff00fca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Error handler\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    errorNode: 'Gemini Prompt Generator',\n    errorMessage: errorData.error?.message || errorData.stderr || JSON.stringify(errorData).substring(0, 200)\n  }\n}];"
      },
      "id": "374c437c-bc45-49f6-a98e-73025af68b8b",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8784,
        768
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Gemini Error\n\nError: {{ $json.errorMessage }}",
        "options": {}
      },
      "id": "832a14c1-4155-4ae8-be8a-6582b5208044",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        8992,
        768
      ],
      "webhookId": "91094967-082a-4b40-9935-7148a603585e",
      "credentials": {
        "discordWebhookApi": {
          "id": "rt0K8qLyVG6wH6wB",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Gemini Prompt Generated\n\nRow: {{ $('Parse Gemini Response').first().json.row_number }}\n\nSegments: {{ $('Parse Gemini Response').first().json.segmentCount }}",
        "options": {}
      },
      "id": "0b61ea80-a580-44a1-b3b8-1fb9d6e39210",
      "name": "Discord Success",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        8992,
        464
      ],
      "webhookId": "c65e7d4f-7e2f-47c6-a952-7155439ec805",
      "credentials": {
        "discordWebhookApi": {
          "id": "rt0K8qLyVG6wH6wB",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7344,
        464
      ],
      "id": "bb0ae432-ff2f-4f33-b1ca-a92618203ca6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM",
          "mode": "list",
          "cachedResultName": "ゲームメイキング映像マスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "New"
            }
          ]
        },
        "options": {
          "returnRowNumber": true
        }
      },
      "id": "47c80fd9-9de1-47b0-a82a-7583db79ccc6",
      "name": "Read Spreadsheet NewLoop",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7104,
        464
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "ブラウザ再起動",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ブラウザ再起動": {
      "main": [
        [
          {
            "node": "Read Spreadsheet NewLoop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write Input File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Input File": {
      "main": [
        [
          {
            "node": "Gemini Browser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Browser": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Update Spreadsheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Spreadsheet": {
      "main": [
        [
          {
            "node": "Discord Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Success": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Spreadsheet NewLoop": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "15c4c69b68a0d89ae26ebe1197eee8426ac5148f2255f927259d610172b7cbb4"
  }
}
