workflows/veo3-character-video-loop.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        6656,
        1344
      ],
      "id": "074ac1e4-0a1e-4278-90a6-f15fb6cbbdb8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM",
          "mode": "list",
          "cachedResultName": "ゲームメイキング映像マスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "Plan"
            }
          ]
        },
        "options": {}
      },
      "id": "31226e86-d34d-4b9a-971e-33be0e4105f9",
      "name": "Read Spreadsheet Plan",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6896,
        1360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-batch-node",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7120,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "// スプレッドシートデータからキャラクター動画用の設定を構築\nconst row = $input.first().json;\n\n// ユニークなexecutionIdを生成\nconst executionId = Date.now() + '_' + Math.random().toString(36).substring(2, 8);\n\n// row_number を取得（Google Sheets が自動付与）\nconst rowNumber = row.row_number;\n\nif (!rowNumber) {\n  throw new Error('row_number not found in spreadsheet data');\n}\n\n// image_prompt1 のみをベース画像として使用\nconst imagePrompt = row.image_prompt1 ? row.image_prompt1.trim() : '';\n\n// video_prompt1~30 から非空プロンプトを配列として取得\nconst videoPrompts = [];\nfor (let i = 1; i <= 30; i++) {\n  const key = 'video_prompt' + i;\n  if (row[key] && row[key].trim()) {\n    videoPrompts.push(row[key].trim());\n  }\n}\n\nif (!imagePrompt) {\n  throw new Error('image_prompt1 is required for character video');\n}\n\nif (videoPrompts.length === 0) {\n  throw new Error('At least one video_prompt is required');\n}\n\n// スタイルが指定されている場合はプロンプトに追加\nconst style = row.style ? row.style.trim() : '';\nlet finalImagePrompt = imagePrompt;\nlet finalVideoPrompts = [...videoPrompts];\n\nif (style) {\n  finalImagePrompt = style + '. ' + imagePrompt;\n  finalVideoPrompts = videoPrompts.map(p => style + '. ' + p);\n}\n\nreturn [{\n  json: {\n    executionId: executionId,\n    rowNumber: rowNumber,\n    imagePrompt: finalImagePrompt,\n    videoPrompts: finalVideoPrompts,\n    totalScenes: videoPrompts.length,\n    searchUrl: row.search_url || '',\n    searchKeyword: row.search_keyword || '',\n    // ユニークなファイルパス\n    configPath: `/tmp/veo3_config_${executionId}.json`,\n    outputPath: `/tmp/veo3_final_${executionId}.mp4`,\n    originalRow: row\n  }\n}];\n"
      },
      "id": "87af6f9a-64fd-4f5a-aed4-121d3dc2438f",
      "name": "Extract Video Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7344,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM",
          "mode": "list",
          "cachedResultName": "ゲームメイキング映像マスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowNumber }}",
            "status": "Processing"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b66abdb2-cb98-4341-99be-8eec16874ee4",
      "name": "Update Status Processing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7568,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=cat > {{ $('Extract Video Prompts').first().json.configPath }} << 'EOF'\n{{ JSON.stringify({ imagePrompt: $('Extract Video Prompts').first().json.imagePrompt, videoPrompts: $('Extract Video Prompts').first().json.videoPrompts, outputPath: $('Extract Video Prompts').first().json.outputPath, aspectRatio: \"Landscape\", download: true, keepAudio: true }) }}\nEOF\nnode /home/node/veo3-character-video.js {{ $('Extract Video Prompts').first().json.configPath }}\n"
      },
      "id": "4ddf81fa-af0a-452a-9dd9-c88ee47b4d44",
      "name": "Generate Character Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        7792,
        1360
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// スクリプト結果をパース\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  // JSON出力を探す\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Character video generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevData = $('Extract Video Prompts').first().json;\n\nreturn [{\n  json: {\n    outputPath: result.outputPath,\n    projectUrl: result.projectUrl,\n    sceneCount: result.sceneCount,\n    totalTime: result.totalTime,\n    rowNumber: prevData.rowNumber,\n    searchUrl: prevData.searchUrl,\n    searchKeyword: prevData.searchKeyword\n  }\n}];"
      },
      "id": "a70c8b97-9b34-498e-90a8-a7dd93739de4",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8016,
        1360
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM",
          "mode": "list",
          "cachedResultName": "ゲームメイキング映像マスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowNumber }}",
            "projectUrl": "={{ $json.projectUrl }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "projectUrl",
              "displayName": "projectUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e7302012-eac4-4c2b-b573-78ed5e040161",
      "name": "Write ProjectURL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8240,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json;\nconst extractData = $('Extract Video Prompts').first().json;\n\nreturn [{\n  json: {\n    filePath: extractData.outputPath,\n    configPath: extractData.configPath,\n    projectUrl: prevData.projectUrl,\n    sceneCount: prevData.sceneCount,\n    rowNumber: extractData.rowNumber,\n    searchUrl: prevData.searchUrl || extractData.searchUrl\n  }\n}];"
      },
      "id": "53650d32-e862-4036-bb71-65443903f7f3",
      "name": "Prepare File Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8464,
        1360
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        8688,
        1360
      ],
      "id": "0d2974dc-5328-46b7-a183-2eadbb420d4c",
      "name": "Read Binary File"
    },
    {
      "parameters": {
        "name": "=veo3_character_{{ $now.format('yyyyMMdd_HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1lpyK2P7_mbMzQ74IkA2f4leDnuHs7CO_",
          "mode": "url"
        },
        "options": {}
      },
      "id": "f743d3c6-639d-4ec1-aadf-40016411cb1d",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        8912,
        1360
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SxFWwEDsUgCoW69A",
          "name": "Google Drive tokoro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Drive URLを取得\nconst fileId = $input.first().json.id;\nconst driveUrl = 'https://drive.google.com/file/d/' + fileId + '/view';\n\nconst prevData = $('Prepare File Read').first().json;\n\nreturn [{\n  json: {\n    driveUrl: driveUrl,\n    fileId: fileId,\n    projectUrl: prevData.projectUrl,\n    sceneCount: prevData.sceneCount,\n    rowNumber: prevData.rowNumber,\n    searchUrl: prevData.searchUrl\n  }\n}];"
      },
      "id": "3482c2bb-1ef3-4fe6-881f-93a92ee1f1ba",
      "name": "Get Drive URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9136,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM",
          "mode": "list",
          "cachedResultName": "ゲームメイキング映像マスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowNumber }}",
            "status": "Completed",
            "drive_url": "={{ $json.driveUrl }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_url",
              "displayName": "drive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "93326263-49e0-4db2-86ea-4001ddb17a28",
      "name": "Update Status Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        9360,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "content": "## キャラクター動画生成（ループ版）\n\n1. status=\"Plan\" の行を全て取得\n2. 1件ずつループ処理\n3. row_number で行を特定して更新\n4. 完了後、次の行へ",
        "height": 500,
        "width": 3400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6608,
        1136
      ],
      "id": "d69a5c69-8223-4f8a-adcd-1ad94cde647f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Veo3 Character Video Complete\n\nRow: {{ $json.rowNumber }}\nScenes: {{ $json.sceneCount || 'N/A' }}\nDrive: {{ $json.driveUrl }}",
        "options": {}
      },
      "id": "64cba586-d8ac-4b37-b56e-f20ac7f05d78",
      "name": "Discord Success",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        9584,
        1360
      ],
      "webhookId": "3de4a46f-b3c7-4d1c-9e38-353ed6af33c7",
      "credentials": {
        "discordWebhookApi": {
          "id": "rt0K8qLyVG6wH6wB",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Veo3 Character Video Error\n\nRow: {{ $json.rowNumber || 'Unknown' }}\nError: {{ $json.errorMessage || 'Unknown error' }}",
        "options": {}
      },
      "id": "0cccf3aa-82c3-4aa4-91f3-5d073c642926",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        8464,
        1584
      ],
      "webhookId": "93d4b9fc-c53d-4be5-92a1-0dd2d1b18f9a",
      "credentials": {
        "discordWebhookApi": {
          "id": "rt0K8qLyVG6wH6wB",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// エラーハンドリング\nconst errorData = $input.first().json;\nlet rowNumber = null;\n\n// rowNumber を取得（どのノードからでも）\ntry {\n  rowNumber = $('Extract Video Prompts').first().json.rowNumber;\n} catch (e) {}\n\nreturn [{\n  json: {\n    rowNumber: rowNumber,\n    errorMessage: errorData.error?.message || errorData.stderr || 'Execution failed'\n  }\n}];"
      },
      "id": "e90ea0cc-e2e6-415b-bced-23752d892481",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8240,
        1584
      ]
    },
    {
      "parameters": {
        "command": "=rm -f {{ $('Extract Video Prompts').first().json.configPath }} {{ $('Extract Video Prompts').first().json.outputPath }} {{ $('Extract Video Prompts').first().json.outputPath.replace('.mp4', '_temp.mp4') }}\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9808,
        1360
      ],
      "id": "4a45adb6-3f15-4add-bae2-86937a3eceb2",
      "name": "Cleanup Files"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM",
          "mode": "list",
          "cachedResultName": "ゲームメイキング映像マスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9-VncY4tzh4DePDwHb2EeosceiFX9UhOOQNISKkVTM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Extract Video Prompts').first().json.rowNumber }}",
            "status": "Error"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-status-error",
      "name": "Update Status Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8688,
        1584
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {},
      "id": "back-to-loop",
      "name": "Back to Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        10032,
        1360
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Spreadsheet Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Spreadsheet Plan": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Extract Video Prompts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Video Prompts": {
      "main": [
        [
          {
            "node": "Update Status Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Processing": {
      "main": [
        [
          {
            "node": "Generate Character Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Character Video": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Write ProjectURL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write ProjectURL": {
      "main": [
        [
          {
            "node": "Prepare File Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Read": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Get Drive URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drive URL": {
      "main": [
        [
          {
            "node": "Update Status Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Completed": {
      "main": [
        [
          {
            "node": "Discord Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Success": {
      "main": [
        [
          {
            "node": "Cleanup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Error": {
      "main": [
        [
          {
            "node": "Update Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Error": {
      "main": [
        [
          {
            "node": "Back to Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Files": {
      "main": [
        [
          {
            "node": "Back to Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Back to Loop": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "15c4c69b68a0d89ae26ebe1197eee8426ac5148f2255f927259d610172b7cbb4"
  }
}
