workflows/veo3-multi-scene-workflow-v3.json
{
  "name": "Veo3 Multi-Scene Video Generator v3",
  "nodes": [
    {
      "parameters": {},
      "id": "76e5b256-87f1-40f0-9065-95d9a3346005",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-2064, -144]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "Plan"
            }
          ]
        },
        "options": {}
      },
      "id": "7978c59e-d6dc-4766-b1d0-7310e202c23d-2",
      "name": "Read Spreadsheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-1872, -144],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract valid prompt pairs from spreadsheet row\nconst row = $input.first().json;\nconst promptPairs = [];\n\n// Check up to 16 pairs\nfor (let i = 1; i <= 16; i++) {\n  const imagePrompt = row['image_prompt' + i];\n  const videoPrompt = row['video_prompt' + i];\n  \n  // Only add if both prompts exist and are not empty\n  if (imagePrompt && imagePrompt.trim() && videoPrompt && videoPrompt.trim()) {\n    promptPairs.push({\n      index: i,\n      imagePrompt: imagePrompt.trim(),\n      videoPrompt: videoPrompt.trim(),\n      isFirst: promptPairs.length === 0,\n      isLast: false\n    });\n  }\n}\n\nif (promptPairs.length === 0) {\n  throw new Error('No valid prompt pairs found');\n}\n\n// Mark the last pair\npromptPairs[promptPairs.length - 1].isLast = true;\n\nreturn [{\n  json: {\n    rowNumber: row.row_number || row.$rowIndex + 2,\n    promptPairs: promptPairs,\n    totalScenes: promptPairs.length,\n    originalRow: row\n  }\n}];"
      },
      "id": "39f85f48-e580-4f28-b146-1df363e8a34a-1",
      "name": "Extract Prompt Pairs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1664, -144]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "search_url": "={{ $json.originalRow.search_url }}",
            "status": "Processing"
          },
          "matchingColumns": ["search_url"],
          "schema": []
        },
        "options": {}
      },
      "id": "f4d07f8d-de84-4bbd-83e5-9d7f1e61a4ab-1",
      "name": "Update Status Processing1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-1472, -144],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=cat > /tmp/veo3_config.json << 'EOF'\n{{ JSON.stringify({ mode: \"image\", prompt: $('Extract Prompt Pairs1').first().json.promptPairs[0].imagePrompt, outputPath: \"/tmp/veo3_scene.png\" }) }}\nEOF\nnode /home/node/veo3-shorts-simple.js /tmp/veo3_config.json",
        "timeout": 300
      },
      "id": "d8900513-c7e7-42e7-8b45-7f573580c503-1",
      "name": "Generate First Image1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-1264, -144],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse image generation result\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  // Find JSON in output (may have console.error messages before it)\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse image result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Image generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevData = $('Extract Prompt Pairs1').first().json;\n\nreturn [{\n  json: {\n    projectUrl: result.projectUrl,\n    imagePath: result.outputPath,\n    promptPairs: prevData.promptPairs,\n    totalScenes: prevData.totalScenes,\n    rowNumber: prevData.rowNumber\n  }\n}];"
      },
      "id": "5c00506a-755e-42ed-bb86-4704aeb68bff-1",
      "name": "Parse First Image Result1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1072, -144],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "search_url": "={{ $('Read Spreadsheet2').first().json.search_url }}",
            "projectUrl": "={{ $json.projectUrl }}"
          },
          "matchingColumns": ["search_url"],
          "schema": []
        },
        "options": {}
      },
      "id": "2817b68a-7fea-48a4-ac17-9d2037a138ee-1",
      "name": "Write ProjectURL1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-864, -144],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "command": "=cat > /tmp/veo3_config.json << 'EOF'\n{{ JSON.stringify({ mode: \"frame\", prompt: $('Parse First Image Result1').first().json.promptPairs[0].videoPrompt, imagePath: \"/tmp/veo3_scene.png\", projectUrl: $('Parse First Image Result1').first().json.projectUrl, download: $('Parse First Image Result1').first().json.promptPairs[0].isLast, outputPath: \"/tmp/veo3_final.mp4\" }) }}\nEOF\nnode /home/node/veo3-shorts-simple.js /tmp/veo3_config.json",
        "timeout": 1800
      },
      "id": "a6e51fab-f427-4d56-b7cd-152e44a93c34-1",
      "name": "Generate First Video1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-672, -144],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse video result and prepare for loop or completion\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse video result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Video generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevData = $('Parse First Image Result1').first().json;\nconst promptPairs = prevData.promptPairs;\n\n// If first scene was the only scene\nif (promptPairs[0].isLast) {\n  return [{\n    json: {\n      completed: true,\n      outputPath: result.outputPath,\n      projectUrl: result.projectUrl,\n      totalScenes: 1,\n      rowNumber: prevData.rowNumber\n    }\n  }];\n}\n\n// Prepare remaining scenes for loop\nconst remainingPairs = promptPairs.slice(1);\nreturn remainingPairs.map((pair, idx) => ({\n  json: {\n    completed: false,\n    imagePrompt: pair.imagePrompt,\n    videoPrompt: pair.videoPrompt,\n    isLast: pair.isLast,\n    sceneIndex: pair.index,\n    projectUrl: result.projectUrl,\n    rowNumber: prevData.rowNumber,\n    totalScenes: prevData.totalScenes\n  }\n}));"
      },
      "id": "a3864276-5688-4498-a283-765a52672f99-1",
      "name": "Prepare Loop1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-464, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.completed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "575ac8b6-e899-4233-88e0-45575fb306fc-1",
      "name": "IF Completed1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-272, -144]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "2a903dff-e722-4563-ada1-9bae9e8fd44c-1",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-64, 0]
    },
    {
      "parameters": {
        "command": "=cat > /tmp/veo3_config.json << 'EOF'\n{{ JSON.stringify({ mode: \"image\", prompt: $json.imagePrompt, outputPath: \"/tmp/veo3_scene.png\", projectUrl: $json.projectUrl }) }}\nEOF\nnode /home/node/veo3-shorts-simple.js /tmp/veo3_config.json",
        "timeout": 300
      },
      "id": "75c43df4-ebb5-4a6b-8486-d6f3e0c57c90-1",
      "name": "Generate Image (Loop)1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [144, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse loop image result\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse image result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Image generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevItem = $('Loop Over Items1').first().json;\n\nreturn [{\n  json: {\n    videoPrompt: prevItem.videoPrompt,\n    isLast: prevItem.isLast,\n    sceneIndex: prevItem.sceneIndex,\n    projectUrl: result.projectUrl,\n    rowNumber: prevItem.rowNumber,\n    totalScenes: prevItem.totalScenes\n  }\n}];"
      },
      "id": "33e9bade-7752-4bc0-a116-9aa64eea15f7-1",
      "name": "Parse Image (Loop)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [336, 0]
    },
    {
      "parameters": {
        "command": "=cat > /tmp/veo3_config.json << 'EOF'\n{{ JSON.stringify({ mode: \"frame\", prompt: $json.videoPrompt, imagePath: \"/tmp/veo3_scene.png\", projectUrl: $json.projectUrl, download: $json.isLast, outputPath: \"/tmp/veo3_final.mp4\" }) }}\nEOF\nnode /home/node/veo3-shorts-simple.js /tmp/veo3_config.json",
        "timeout": 1800
      },
      "id": "5bde26b3-0e3b-421c-97f2-c9702e380f42-1",
      "name": "Generate Video (Loop)1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [544, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse loop video result and check if done\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse video result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Video generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevItem = $('Parse Image (Loop)1').first().json;\n\n// If this was the last scene, go to upload\nif (prevItem.isLast) {\n  return [{\n    json: {\n      completed: true,\n      outputPath: result.outputPath,\n      projectUrl: result.projectUrl,\n      sceneIndex: prevItem.sceneIndex,\n      rowNumber: prevItem.rowNumber,\n      totalScenes: prevItem.totalScenes\n    }\n  }];\n}\n\n// Not the last scene - continue loop\nreturn [{\n  json: {\n    completed: false,\n    projectUrl: result.projectUrl,\n    sceneIndex: prevItem.sceneIndex,\n    rowNumber: prevItem.rowNumber,\n    totalScenes: prevItem.totalScenes\n  }\n}];"
      },
      "id": "3b1ef617-87f2-4b53-a041-e77a2431127d-1",
      "name": "Parse Video (Loop)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-last",
              "leftValue": "={{ $json.completed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c59a0395-839a-47dc-968d-5b1f74799cbf-1",
      "name": "IF Last Scene1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [944, 0]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for file reading and upload\nlet rowNumber, totalScenes, projectUrl;\n\ntry {\n  const loopData = $('Parse Video (Loop)1').first().json;\n  if (loopData) {\n    rowNumber = loopData.rowNumber;\n    totalScenes = loopData.totalScenes;\n    projectUrl = loopData.projectUrl;\n  }\n} catch (e) {\n  try {\n    const directData = $('Prepare Loop1').first().json;\n    if (directData) {\n      rowNumber = directData.rowNumber;\n      totalScenes = directData.totalScenes;\n      projectUrl = directData.projectUrl;\n    }\n  } catch (e2) {}\n}\n\nreturn [{\n  json: {\n    rowNumber: rowNumber,\n    totalScenes: totalScenes,\n    projectUrl: projectUrl,\n    filePath: '/tmp/veo3_final.mp4'\n  }\n}];"
      },
      "id": "55e40ed0-0f75-4809-9829-efdd20619215-1",
      "name": "Read Video File1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, -144]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1344, -144],
      "id": "15ae7d11-84ad-4bab-bc9c-c9f596668199-1",
      "name": "Read Binary File1"
    },
    {
      "parameters": {
        "name": "=veo3_{{ $now.format('yyyyMMdd_HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1lpyK2P7_mbMzQ74IkA2f4leDnuHs7CO_",
          "mode": "url"
        },
        "options": {}
      },
      "id": "e4a3bd04-745f-475f-a263-eeb67c04d569-1",
      "name": "Upload to Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1536, -144],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SxFWwEDsUgCoW69A",
          "name": "Google Drive tokoro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get Drive URL from upload result\nconst fileId = $input.first().json.id;\nconst driveUrl = 'https://drive.google.com/file/d/' + fileId + '/view';\n\n// Get previous data\nconst prevData = $('Read Video File1').first().json;\n\nreturn [{\n  json: {\n    driveUrl: driveUrl,\n    fileId: fileId,\n    rowNumber: prevData.rowNumber,\n    totalScenes: prevData.totalScenes,\n    projectUrl: prevData.projectUrl\n  }\n}];"
      },
      "id": "a4a8beff-2018-407d-8e63-5b668747e78c-1",
      "name": "Get Drive URL1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1728, -144]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "search_url": "={{ $('Read Spreadsheet2').first().json.search_url }}",
            "status": "Completed",
            "drive_url": "={{ $json.driveUrl }}"
          },
          "matchingColumns": ["search_url"],
          "schema": []
        },
        "options": {}
      },
      "id": "3b353b4e-27f1-4f86-8537-cdb719373818-1",
      "name": "Update Status Completed1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1920, -144],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Veo3 Complete\n\nScenes: {{ $json.totalScenes }}\nDrive: {{ $json.driveUrl }}",
        "options": {}
      },
      "id": "abb9e447-1477-4be8-ba34-643448dcc657-1",
      "name": "Discord Success1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [2112, -144],
      "webhookId": "3de4a46f-b3c7-4d1c-9e38-353ed6af33c7",
      "credentials": {
        "discordWebhookApi": {
          "id": "rt0K8qLyVG6wH6wB",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Veo3 Error\n\nNode: {{ $json.errorNode || 'Unknown' }}\nError: {{ $json.errorMessage || $json.error?.message || 'Unknown error' }}",
        "options": {}
      },
      "id": "e5179848-4505-40a8-85b6-46812c9d8a98-1",
      "name": "Discord Error1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1920, 160],
      "webhookId": "93d4b9fc-c53d-4be5-92a1-0dd2d1b18f9a",
      "credentials": {
        "discordWebhookApi": {
          "id": "rt0K8qLyVG6wH6wB",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Error handler - format error for Discord\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    errorNode: $input.first().json.$nodeType || 'Unknown',\n    errorMessage: errorData.error?.message || errorData.stderr || 'Execution failed'\n  }\n}];"
      },
      "id": "error-handler-code-1",
      "name": "Format Error1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1728, 160]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{"node": "Read Spreadsheet2", "type": "main", "index": 0}]
      ]
    },
    "Read Spreadsheet2": {
      "main": [
        [{"node": "Extract Prompt Pairs1", "type": "main", "index": 0}]
      ]
    },
    "Extract Prompt Pairs1": {
      "main": [
        [{"node": "Update Status Processing1", "type": "main", "index": 0}]
      ]
    },
    "Update Status Processing1": {
      "main": [
        [{"node": "Generate First Image1", "type": "main", "index": 0}],
        [{"node": "Format Error1", "type": "main", "index": 0}]
      ]
    },
    "Generate First Image1": {
      "main": [
        [{"node": "Parse First Image Result1", "type": "main", "index": 0}],
        [{"node": "Format Error1", "type": "main", "index": 0}]
      ]
    },
    "Parse First Image Result1": {
      "main": [
        [{"node": "Write ProjectURL1", "type": "main", "index": 0}],
        [{"node": "Format Error1", "type": "main", "index": 0}]
      ]
    },
    "Write ProjectURL1": {
      "main": [
        [{"node": "Generate First Video1", "type": "main", "index": 0}]
      ]
    },
    "Generate First Video1": {
      "main": [
        [{"node": "Prepare Loop1", "type": "main", "index": 0}],
        [{"node": "Format Error1", "type": "main", "index": 0}]
      ]
    },
    "Prepare Loop1": {
      "main": [
        [{"node": "IF Completed1", "type": "main", "index": 0}]
      ]
    },
    "IF Completed1": {
      "main": [
        [{"node": "Read Video File1", "type": "main", "index": 0}],
        [{"node": "Loop Over Items1", "type": "main", "index": 0}]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [{"node": "Generate Image (Loop)1", "type": "main", "index": 0}],
        [{"node": "Read Video File1", "type": "main", "index": 0}]
      ]
    },
    "Generate Image (Loop)1": {
      "main": [
        [{"node": "Parse Image (Loop)1", "type": "main", "index": 0}],
        [{"node": "Format Error1", "type": "main", "index": 0}]
      ]
    },
    "Parse Image (Loop)1": {
      "main": [
        [{"node": "Generate Video (Loop)1", "type": "main", "index": 0}]
      ]
    },
    "Generate Video (Loop)1": {
      "main": [
        [{"node": "Parse Video (Loop)1", "type": "main", "index": 0}],
        [{"node": "Format Error1", "type": "main", "index": 0}]
      ]
    },
    "Parse Video (Loop)1": {
      "main": [
        [{"node": "IF Last Scene1", "type": "main", "index": 0}]
      ]
    },
    "IF Last Scene1": {
      "main": [
        [{"node": "Read Video File1", "type": "main", "index": 0}],
        [{"node": "Loop Over Items1", "type": "main", "index": 0}]
      ]
    },
    "Read Video File1": {
      "main": [
        [{"node": "Read Binary File1", "type": "main", "index": 0}]
      ]
    },
    "Read Binary File1": {
      "main": [
        [{"node": "Upload to Drive1", "type": "main", "index": 0}]
      ]
    },
    "Upload to Drive1": {
      "main": [
        [{"node": "Get Drive URL1", "type": "main", "index": 0}]
      ]
    },
    "Get Drive URL1": {
      "main": [
        [{"node": "Update Status Completed1", "type": "main", "index": 0}]
      ]
    },
    "Update Status Completed1": {
      "main": [
        [{"node": "Discord Success1", "type": "main", "index": 0}]
      ]
    },
    "Format Error1": {
      "main": [
        [{"node": "Discord Error1", "type": "main", "index": 0}]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-31T00:00:00.000Z",
  "versionId": "3"
}
