workflows/veo3-multi-scene-workflow-v5-loop.json
{
  "name": "Veo3 Multi-Scene Video Generator v5 (Loop)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "Plan"
            }
          ]
        },
        "options": {}
      },
      "id": "read-spreadsheet",
      "name": "Read Spreadsheet Plan",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-over-rows",
      "name": "Loop Over Rows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract valid prompt pairs from spreadsheet row\nconst row = $input.first().json;\nconst promptPairs = [];\n\n// ユニークなexecutionIdを生成\nconst executionId = Date.now() + '_' + Math.random().toString(36).substring(2, 8);\n\n// Check up to 16 pairs\nfor (let i = 1; i <= 16; i++) {\n  const imagePrompt = row['image_prompt' + i];\n  const videoPrompt = row['video_prompt' + i];\n  \n  // Only add if both prompts exist and are not empty\n  if (imagePrompt && imagePrompt.trim() && videoPrompt && videoPrompt.trim()) {\n    promptPairs.push({\n      index: i,\n      imagePrompt: imagePrompt.trim(),\n      videoPrompt: videoPrompt.trim(),\n      isFirst: promptPairs.length === 0,\n      isLast: false\n    });\n  }\n}\n\nif (promptPairs.length === 0) {\n  throw new Error('No valid prompt pairs found');\n}\n\n// Mark the last pair\npromptPairs[promptPairs.length - 1].isLast = true;\n\nreturn [{\n  json: {\n    executionId: executionId,\n    rowNumber: row.row_number || row.$rowIndex + 2,\n    promptPairs: promptPairs,\n    totalScenes: promptPairs.length,\n    searchUrl: row.search_url || '',\n    // ユニークなファイルパス\n    configPath: `/tmp/veo3_config_${executionId}.json`,\n    imagePath: `/tmp/veo3_scene_${executionId}.png`,\n    outputPath: `/tmp/veo3_final_${executionId}.mp4`,\n    originalRow: row\n  }\n}];"
      },
      "id": "extract-prompt-pairs",
      "name": "Extract Prompt Pairs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowNumber }}",
            "status": "Processing"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-status-processing",
      "name": "Update Status Processing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 300],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=cat > {{ $('Extract Prompt Pairs').first().json.configPath }} << 'EOF'\n{{ JSON.stringify({ mode: \"image\", prompt: $('Extract Prompt Pairs').first().json.promptPairs[0].imagePrompt, outputPath: $('Extract Prompt Pairs').first().json.imagePath }) }}\nEOF\nnode /home/node/veo3-shorts-simple.js {{ $('Extract Prompt Pairs').first().json.configPath }}"
      },
      "id": "generate-first-image",
      "name": "Generate First Image",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1100, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse image generation result\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  // Find JSON in output (may have console.error messages before it)\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse image result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Image generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevData = $('Extract Prompt Pairs').first().json;\n\nreturn [{\n  json: {\n    projectUrl: result.projectUrl,\n    executionId: prevData.executionId,\n    configPath: prevData.configPath,\n    imagePath: prevData.imagePath,\n    outputPath: prevData.outputPath,\n    promptPairs: prevData.promptPairs,\n    totalScenes: prevData.totalScenes,\n    rowNumber: prevData.rowNumber,\n    searchUrl: prevData.searchUrl\n  }\n}];"
      },
      "id": "parse-first-image",
      "name": "Parse First Image Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Extract Prompt Pairs').first().json.rowNumber }}",
            "projectUrl": "={{ $json.projectUrl }}"
          },
          "matchingColumns": ["row_number"],
          "schema": []
        },
        "options": {}
      },
      "id": "write-project-url",
      "name": "Write ProjectURL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 300],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "command": "=cat > {{ $('Extract Prompt Pairs').first().json.configPath }} << 'EOF'\n{{ JSON.stringify({ mode: \"frame\", prompt: $('Parse First Image Result').first().json.promptPairs[0].videoPrompt, imagePath: $('Extract Prompt Pairs').first().json.imagePath, projectUrl: $('Parse First Image Result').first().json.projectUrl, download: $('Parse First Image Result').first().json.promptPairs[0].isLast, outputPath: $('Extract Prompt Pairs').first().json.outputPath }) }}\nEOF\nnode /home/node/veo3-shorts-simple.js {{ $('Extract Prompt Pairs').first().json.configPath }}"
      },
      "id": "generate-first-video",
      "name": "Generate First Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1760, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse video result and prepare for loop or completion\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse video result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Video generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevData = $('Parse First Image Result').first().json;\nconst extractData = $('Extract Prompt Pairs').first().json;\nconst promptPairs = prevData.promptPairs;\n\n// If first scene was the only scene\nif (promptPairs[0].isLast) {\n  return [{\n    json: {\n      completed: true,\n      outputPath: extractData.outputPath,\n      projectUrl: result.projectUrl,\n      totalScenes: 1,\n      rowNumber: prevData.rowNumber,\n      executionId: extractData.executionId,\n      configPath: extractData.configPath,\n      imagePath: extractData.imagePath,\n      searchUrl: prevData.searchUrl\n    }\n  }];\n}\n\n// Prepare remaining scenes for loop\nconst remainingPairs = promptPairs.slice(1);\nreturn remainingPairs.map((pair, idx) => ({\n  json: {\n    completed: false,\n    imagePrompt: pair.imagePrompt,\n    videoPrompt: pair.videoPrompt,\n    isLast: pair.isLast,\n    sceneIndex: pair.index,\n    projectUrl: result.projectUrl,\n    rowNumber: prevData.rowNumber,\n    totalScenes: prevData.totalScenes,\n    executionId: extractData.executionId,\n    configPath: extractData.configPath,\n    imagePath: extractData.imagePath,\n    outputPath: extractData.outputPath,\n    searchUrl: prevData.searchUrl\n  }\n}));"
      },
      "id": "prepare-loop",
      "name": "Prepare Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.completed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-completed",
      "name": "IF Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "loop-over-scenes",
      "name": "Loop Over Scenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2420, 520]
    },
    {
      "parameters": {
        "command": "=cat > {{ $json.configPath }} << 'EOF'\n{{ JSON.stringify({ mode: \"image\", prompt: $json.imagePrompt, outputPath: $json.imagePath, projectUrl: $json.projectUrl }) }}\nEOF\nnode /home/node/veo3-shorts-simple.js {{ $json.configPath }}"
      },
      "id": "generate-image-loop",
      "name": "Generate Image (Loop)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2640, 520],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse loop image result\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse image result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Image generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevItem = $('Loop Over Scenes').item.json;\n\nreturn [{\n  json: {\n    videoPrompt: prevItem.videoPrompt,\n    isLast: prevItem.isLast,\n    sceneIndex: prevItem.sceneIndex,\n    projectUrl: result.projectUrl,\n    rowNumber: prevItem.rowNumber,\n    totalScenes: prevItem.totalScenes,\n    executionId: prevItem.executionId,\n    configPath: prevItem.configPath,\n    imagePath: prevItem.imagePath,\n    outputPath: prevItem.outputPath,\n    searchUrl: prevItem.searchUrl\n  }\n}];"
      },
      "id": "parse-image-loop",
      "name": "Parse Image (Loop)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 520]
    },
    {
      "parameters": {
        "command": "=cat > {{ $json.configPath }} << 'EOF'\n{{ JSON.stringify({ mode: \"frame\", prompt: $json.videoPrompt, imagePath: $json.imagePath, projectUrl: $json.projectUrl, download: $json.isLast, outputPath: $json.outputPath }) }}\nEOF\nnode /home/node/veo3-shorts-simple.js {{ $json.configPath }}"
      },
      "id": "generate-video-loop",
      "name": "Generate Video (Loop)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3080, 520],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse loop video result and check if done\nconst output = $input.first().json.stdout;\nlet result;\n\ntry {\n  const jsonMatch = output.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = JSON.parse(output);\n  }\n} catch (e) {\n  throw new Error('Failed to parse video result: ' + output);\n}\n\nif (!result.success) {\n  throw new Error('Video generation failed: ' + (result.error || 'Unknown error'));\n}\n\nconst prevItem = $('Parse Image (Loop)').item.json;\n\n// If this was the last scene, go to upload\nif (prevItem.isLast) {\n  return [{\n    json: {\n      completed: true,\n      outputPath: prevItem.outputPath,\n      projectUrl: result.projectUrl,\n      sceneIndex: prevItem.sceneIndex,\n      rowNumber: prevItem.rowNumber,\n      totalScenes: prevItem.totalScenes,\n      executionId: prevItem.executionId,\n      configPath: prevItem.configPath,\n      imagePath: prevItem.imagePath,\n      searchUrl: prevItem.searchUrl\n    }\n  }];\n}\n\n// Not the last scene - continue loop\nreturn [{\n  json: {\n    completed: false,\n    projectUrl: result.projectUrl,\n    sceneIndex: prevItem.sceneIndex,\n    rowNumber: prevItem.rowNumber,\n    totalScenes: prevItem.totalScenes,\n    executionId: prevItem.executionId,\n    configPath: prevItem.configPath,\n    imagePath: prevItem.imagePath,\n    outputPath: prevItem.outputPath,\n    searchUrl: prevItem.searchUrl\n  }\n}];"
      },
      "id": "parse-video-loop",
      "name": "Parse Video (Loop)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-last",
              "leftValue": "={{ $json.completed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-last-scene",
      "name": "IF Last Scene",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3520, 520]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for file reading and upload\nlet rowNumber, totalScenes, projectUrl, executionId, configPath, imagePath, outputPath, searchUrl;\n\ntry {\n  const loopData = $('Parse Video (Loop)').item?.json;\n  if (loopData) {\n    rowNumber = loopData.rowNumber;\n    totalScenes = loopData.totalScenes;\n    projectUrl = loopData.projectUrl;\n    executionId = loopData.executionId;\n    configPath = loopData.configPath;\n    imagePath = loopData.imagePath;\n    outputPath = loopData.outputPath;\n    searchUrl = loopData.searchUrl;\n  }\n} catch (e) {\n  try {\n    const directData = $('Prepare Loop').item?.json;\n    if (directData) {\n      rowNumber = directData.rowNumber;\n      totalScenes = directData.totalScenes;\n      projectUrl = directData.projectUrl;\n      executionId = directData.executionId;\n      configPath = directData.configPath;\n      imagePath = directData.imagePath;\n      outputPath = directData.outputPath;\n      searchUrl = directData.searchUrl;\n    }\n  } catch (e2) {}\n}\n\nreturn [{\n  json: {\n    rowNumber: rowNumber,\n    totalScenes: totalScenes,\n    projectUrl: projectUrl,\n    executionId: executionId,\n    configPath: configPath,\n    imagePath: imagePath,\n    filePath: outputPath,\n    searchUrl: searchUrl\n  }\n}];"
      },
      "id": "read-video-file",
      "name": "Read Video File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 300]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [2640, 300],
      "id": "read-binary-file",
      "name": "Read Binary File"
    },
    {
      "parameters": {
        "name": "=veo3_{{ $now.format('yyyyMMdd_HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1lpyK2P7_mbMzQ74IkA2f4leDnuHs7CO_",
          "mode": "url"
        },
        "options": {}
      },
      "id": "upload-to-drive",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2860, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SxFWwEDsUgCoW69A",
          "name": "Google Drive tokoro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get Drive URL from upload result\nconst fileId = $input.first().json.id;\nconst driveUrl = 'https://drive.google.com/file/d/' + fileId + '/view';\n\n// Get previous data\nconst prevData = $('Read Video File').first().json;\n\nreturn [{\n  json: {\n    driveUrl: driveUrl,\n    fileId: fileId,\n    rowNumber: prevData.rowNumber,\n    totalScenes: prevData.totalScenes,\n    projectUrl: prevData.projectUrl,\n    configPath: prevData.configPath,\n    imagePath: prevData.imagePath,\n    filePath: prevData.filePath,\n    searchUrl: prevData.searchUrl\n  }\n}];"
      },
      "id": "get-drive-url",
      "name": "Get Drive URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowNumber }}",
            "status": "Completed",
            "drive_url": "={{ $json.driveUrl }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_url",
              "displayName": "drive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-status-completed",
      "name": "Update Status Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3300, 300],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Veo3 Multi-Scene Complete\n\nRow: {{ $json.rowNumber }}\nScenes: {{ $json.totalScenes }}\nDrive: {{ $json.driveUrl }}",
        "options": {}
      },
      "id": "discord-success",
      "name": "Discord Success",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [3520, 300],
      "webhookId": "3de4a46f-b3c7-4d1c-9e38-353ed6af33c7",
      "credentials": {
        "discordWebhookApi": {
          "id": "rt0K8qLyVG6wH6wB",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm -f {{ $('Get Drive URL').first().json.configPath }} {{ $('Get Drive URL').first().json.imagePath }} {{ $('Get Drive URL').first().json.filePath }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3740, 300],
      "id": "cleanup-files",
      "name": "Cleanup Files"
    },
    {
      "parameters": {},
      "id": "back-to-loop",
      "name": "Back to Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3960, 300]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Veo3 Multi-Scene Error\n\nRow: {{ $json.rowNumber || 'Unknown' }}\nError: {{ $json.errorMessage || 'Unknown error' }}",
        "options": {}
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1540, 740],
      "webhookId": "93d4b9fc-c53d-4be5-92a1-0dd2d1b18f9a",
      "credentials": {
        "discordWebhookApi": {
          "id": "rt0K8qLyVG6wH6wB",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Error handler - format error for Discord\nconst errorData = $input.first().json;\nlet rowNumber = null;\n\n// rowNumber を取得（どのノードからでも）\ntry {\n  rowNumber = $('Extract Prompt Pairs').first().json.rowNumber;\n} catch (e) {}\n\nreturn [{\n  json: {\n    rowNumber: rowNumber,\n    errorMessage: errorData.error?.message || errorData.stderr || 'Execution failed'\n  }\n}];"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 740]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ",
          "mode": "list",
          "cachedResultName": "廃墟チャンネルマスター",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZGOCV8wG6HTSZLUpF3TOPhE4vUEBoFmeA2leVHi2rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Extract Prompt Pairs').first().json.rowNumber }}",
            "status": "Error"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-status-error",
      "name": "Update Status Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 740],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqPtYtZUaTfWiuBd",
          "name": "Google Sheets tokoro"
        }
      }
    },
    {
      "parameters": {},
      "id": "error-to-loop",
      "name": "Error to Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1980, 740]
    },
    {
      "parameters": {
        "content": "## マルチシーン動画生成 v5 (ループ版)\n\n1. Schedule Trigger で定期実行\n2. status=\"Plan\" の行を全て取得\n3. 各行に対してユニークな一時ファイルパスを生成\n4. 1件ずつループ処理でシーン生成\n5. Driveアップロード後に一時ファイルを削除\n6. 完了後、次の行へ",
        "height": 280,
        "width": 4200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, 80],
      "id": "sticky-note",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Read Spreadsheet Plan", "type": "main", "index": 0}]]
    },
    "Read Spreadsheet Plan": {
      "main": [[{"node": "Loop Over Rows", "type": "main", "index": 0}]]
    },
    "Loop Over Rows": {
      "main": [
        [{"node": "Extract Prompt Pairs", "type": "main", "index": 0}],
        []
      ]
    },
    "Extract Prompt Pairs": {
      "main": [[{"node": "Update Status Processing", "type": "main", "index": 0}]]
    },
    "Update Status Processing": {
      "main": [
        [{"node": "Generate First Image", "type": "main", "index": 0}],
        [{"node": "Format Error", "type": "main", "index": 0}]
      ]
    },
    "Generate First Image": {
      "main": [
        [{"node": "Parse First Image Result", "type": "main", "index": 0}],
        [{"node": "Format Error", "type": "main", "index": 0}]
      ]
    },
    "Parse First Image Result": {
      "main": [
        [{"node": "Write ProjectURL", "type": "main", "index": 0}],
        [{"node": "Format Error", "type": "main", "index": 0}]
      ]
    },
    "Write ProjectURL": {
      "main": [[{"node": "Generate First Video", "type": "main", "index": 0}]]
    },
    "Generate First Video": {
      "main": [
        [{"node": "Prepare Loop", "type": "main", "index": 0}],
        [{"node": "Format Error", "type": "main", "index": 0}]
      ]
    },
    "Prepare Loop": {
      "main": [[{"node": "IF Completed", "type": "main", "index": 0}]]
    },
    "IF Completed": {
      "main": [
        [{"node": "Read Video File", "type": "main", "index": 0}],
        [{"node": "Loop Over Scenes", "type": "main", "index": 0}]
      ]
    },
    "Loop Over Scenes": {
      "main": [
        [{"node": "Read Video File", "type": "main", "index": 0}],
        [{"node": "Generate Image (Loop)", "type": "main", "index": 0}]
      ]
    },
    "Generate Image (Loop)": {
      "main": [
        [{"node": "Parse Image (Loop)", "type": "main", "index": 0}],
        [{"node": "Format Error", "type": "main", "index": 0}]
      ]
    },
    "Parse Image (Loop)": {
      "main": [[{"node": "Generate Video (Loop)", "type": "main", "index": 0}]]
    },
    "Generate Video (Loop)": {
      "main": [
        [{"node": "Parse Video (Loop)", "type": "main", "index": 0}],
        [{"node": "Format Error", "type": "main", "index": 0}]
      ]
    },
    "Parse Video (Loop)": {
      "main": [[{"node": "IF Last Scene", "type": "main", "index": 0}]]
    },
    "IF Last Scene": {
      "main": [
        [{"node": "Read Video File", "type": "main", "index": 0}],
        [{"node": "Loop Over Scenes", "type": "main", "index": 0}]
      ]
    },
    "Read Video File": {
      "main": [[{"node": "Read Binary File", "type": "main", "index": 0}]]
    },
    "Read Binary File": {
      "main": [[{"node": "Upload to Drive", "type": "main", "index": 0}]]
    },
    "Upload to Drive": {
      "main": [[{"node": "Get Drive URL", "type": "main", "index": 0}]]
    },
    "Get Drive URL": {
      "main": [[{"node": "Update Status Completed", "type": "main", "index": 0}]]
    },
    "Update Status Completed": {
      "main": [[{"node": "Discord Success", "type": "main", "index": 0}]]
    },
    "Discord Success": {
      "main": [[{"node": "Cleanup Files", "type": "main", "index": 0}]]
    },
    "Cleanup Files": {
      "main": [[{"node": "Back to Loop", "type": "main", "index": 0}]]
    },
    "Back to Loop": {
      "main": [[{"node": "Loop Over Rows", "type": "main", "index": 0}]]
    },
    "Format Error": {
      "main": [[{"node": "Discord Error", "type": "main", "index": 0}]]
    },
    "Discord Error": {
      "main": [[{"node": "Update Status Error", "type": "main", "index": 0}]]
    },
    "Update Status Error": {
      "main": [[{"node": "Error to Loop", "type": "main", "index": 0}]]
    },
    "Error to Loop": {
      "main": [[{"node": "Loop Over Rows", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-10T00:00:00.000Z",
  "versionId": "5-loop"
}
