workflows/veo3-shorts-webhook.json
{
  "name": "Veo3 Shorts - Webhook Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "veo3-shorts",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "veo3-shorts-webhook"
    },
    {
      "parameters": {
        "jsCode": "// リクエストパラメータを処理\nconst body = $input.first().json.body || {};\n\nreturn [{\n  json: {\n    prompt: body.prompt || 'A beautiful landscape with flowing motion',\n    mode: body.mode || 'text',\n    imagePath: body.imagePath || null,\n    imageUrl: body.imageUrl || null,\n    audioPath: body.audioPath || null,\n    audioUrl: body.audioUrl || null,\n    videoCount: body.videoCount || 2,\n    outputDir: '/tmp/videos'\n  }\n}];"
      },
      "id": "process-params",
      "name": "Process Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-audio-url",
              "leftValue": "={{ $json.audioUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-audio",
      "name": "Has Audio URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {}
      },
      "id": "download-audio",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/suno-audio-{{ Date.now() }}.mp3",
        "options": {}
      },
      "id": "save-audio",
      "name": "Save Audio File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// オーディオパスを更新\nconst params = $('Process Parameters').first().json;\nconst audioFile = $input.first().json;\n\nreturn [{\n  json: {\n    ...params,\n    audioPath: audioFile.fileName\n  }\n}];"
      },
      "id": "update-audio-path",
      "name": "Update Audio Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "command": "=node /home/node/flow-video-shorts.js '{{ JSON.stringify({ prompt: $json.prompt, mode: $json.mode, imagePath: $json.imagePath, audioPath: $json.audioPath, videoCount: $json.videoCount, outputDir: $json.outputDir }) }}'",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "generate-shorts",
      "name": "Generate Veo3 Shorts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "// 結果をパース\nconst output = $input.first().json.stdout;\n\ntry {\n  const result = JSON.parse(output);\n  \n  if (result.success) {\n    return [{\n      json: {\n        success: true,\n        videoCount: result.videoCount,\n        finalVideoPath: result.finalVideoPath,\n        videos: result.videos,\n        totalGenerationTime: result.totalGenerationTime\n      }\n    }];\n  } else {\n    throw new Error(result.error || 'Generation failed');\n  }\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error: e.message,\n      rawOutput: output.substring(0, 500)\n    }\n  }];\n}"
      },
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Parameters": {
      "main": [
        [
          {
            "node": "Has Audio URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Audio URL?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Veo3 Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Save Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audio File": {
      "main": [
        [
          {
            "node": "Update Audio Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Audio Path": {
      "main": [
        [
          {
            "node": "Generate Veo3 Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Veo3 Shorts": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 1800,
    "saveManualExecutions": true
  },
  "tags": [],
  "pinData": {}
}
